<nav class="navbar mb-3 navbar-expand-md sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><i class="fa-regular fa-compass"></i> Wanderlust</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore Wanderlust Stays</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host with Wanderlust</a>

        <!-- user btn dropdown -->
        <div class="dropdown">
          <button
            class="dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="user-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: none;
                  height: 16px;
                  width: 16px;
                  stroke: currentcolor;
                  stroke-width: 3;
                  overflow: visible;
                "
              >
                <g fill="none"><path d="M2 16h28M2 24h28M2 8h28"></path></g>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  height: 100%;
                  width: 100%;
                  fill: currentcolor;
                "
              >
                <path
                  d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"
                ></path>
              </svg>
            </div>
          </button>
          <ul class="dropdown-menu">
            <% if (!currUser) { %>
            <li>
              <a class="nav-link" aria-current="page" href="/signup">Sign Up</a>
            </li>
            <li><a class="nav-link" href="/login">Login</a></li>
            <% } %> <% if (currUser) { %>
            <li><a class="nav-link" href="/logout">Log Out</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
