<% layout("./layouts/boilerplate.ejs") %>
<body>
  <h3 class="mt-3 mb-3">All listings!</h3>
  <div class="row p-4">
    <% for( let listing of allListings ) { %>
    <div class="card listing-card" style="width: 100%">
      <a href="listings/<%= listing._id %>">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="Listing-image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <div class="card-text">
            <p class="para1"><%= listing.title %></p>
            </a>
            <p class="para2">
              &#36; <%= listing.price.toLocaleString("en-US") %> night
            </p>
          </div>
        </div>
    </div>
    <% } %>
  </div>
</body>
