<% layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="alert alert-dark mt-3 d-flex align-items-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation mr-3 error-icon"></i>
    <div>
      <h4>SORRY!</h4>
      <p><%= message %></p>
    </div>
  </div>
</body>
